.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-gap{
  margin:200px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:100px 20px 100px 20px;
  margin:0px auto;
  background: #21094e ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}


.navbar-dark {
  background-color: #21094e;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

.model-bodycolor {
  background:floralwhite ;
  color:#31126b;
}

.model-headercolor {
  background:#31126b ;
  
}

.carouselstyle{
  
  object-fit: cover;
}

  
.heightissue {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.mediaheightissue {
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  min-height: 200px;
  object-fit: cover;
}
